<!DOCTYPE html>
<html lang="en">
<%- include("_inc_head") %>
    </head>

    <body>

        <div id="main">
            <%- include("_inc_header") %>

                <%- include("_inc_footer")  %>
        </div>

        <%- include("_inc_modals") %>
            <%- include("_inc_js") %>
    </body>

</html>